{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="mt-3 mb-5 about_container">
    <div class="about">
        <div class="college_img_container" >
            <img src="{% static 'img/college.jpg' %}" width="600px" height="425px">
        </div>
         <div>
            <div>
                <h2 >History</h2>
            </div>
             <div >
                 <p >
                     Despite all the negative sentiment towards the Lorem Ipsum text, there are still people who love to use it. For Lorem ipsum advocates, it is a practical guide on what the actual text would look like in the spot. And seeing as there are different Lorem Ipsum generators out there, you will have your pick of the most well-made and entertaining Lorem Ipsum generators.
                     Lorem Ipsum has shown its effectiveness throughout the years. But the text does have its limitations, and there is room for improvement. It has its advantages and disadvantages in equal measure.
                 Despite all the negative sentiment towards the Lorem Ipsum text, there are still people who love to use it. For Lorem ipsum advocates, it is a practical guide on what the actual text would look like in the spot. And seeing as there are different Lorem Ipsum generators out there, you will have your pick of the most well-made and entertaining Lorem Ipsum generators.
                     Lorem Ipsum has shown its effectiveness throughout the years. But the text does have its limitations, and there is room for improvement. It has its advantages and disadvantages in equal measure.

                 </p>
             </div>
        </div>
    </div>


</div>


{% endblock %}