{% extends 'base.html' %}
{% block content %}

<div class="facility_page_container">
    {% if labs %}
        <h3 class="title">Lab Facility</h3>
        <div class="my_facility_contain">

            {% for lab in labs %}
            <div class="card" style="width: 18rem;">
                    <img src="{{lab.image_field.url}}" class="card-img-top" alt="..." width="200px" height="225px">
                    <h3 class="card-title text-center">{{lab.name}}</h3>
                <hr>
                <div class="card-body">
                    <p class="card-text">{{lab.info}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    {% elif libraries %}
        <h3 class="title">Library Facility</h3>
        <div class="my_facility_contain_library">

            {% for library in libraries %}
            <div class="card" style="width: 18rem;">
                    <img src="{{library.image_field.url}}" class="card-img-top" alt="..." width="200px" height="225px">
                    <h3 class="card-title text-center">{{library.name}}</h3>
                <hr>
                <div class="card-body">
                    <p class="card-text">{{library.info}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    {% elif sports %}
        <h3 class="title">Sport Facility</h3>
        <div class="my_facility_contain">

            {% for sport in sports %}
            <div class="card" style="width: 18rem;">
                    <img src="{{sport.image_field.url}}" class="card-img-top" alt="..." width="200px" height="225px">
                    <h3 class="card-title text-center">{{sport.name}}</h3>
                <hr>
                <div class="card-body">
                    <p class="card-text">{{sport.info}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    {% elif smart_classes %}
        <h3 class="title">Smart Class Facility</h3>
        <div class="my_facility_contain">

            {% for smart_class in smart_classes %}
            <div class="card" style="width: 18rem;">
                    <img src="{{smart_class.image_field.url}}" class="card-img-top" alt="..." width="200px" height="225px">
                    <h3 class="card-title text-center">{{smart_class.name}}</h3>
                <hr>
                <div class="card-body">
                    <p class="card-text">{{smart_class.info}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div>
            <h4>Currently No items</h4>
        </div>
    {% endif %}
</div>

{% endblock %}

