<footer>
    <div class="social_container">
        <a class="social" href=""><i class="fa-brands fa-instagram"></i>&nbsp;@ucas_edu</a>
        <a class="social" href="#"><i class="fa-brands fa-facebook"></i>&nbsp;Ucas_kk</a>
        <a class="social" href="#"><i class="fa-brands fa-youtube"></i>&nbsp;Ucas Edu</a>
        <a class="social" href="#"><i class="fa-brands fa-twitter"></i>&nbsp;@ucas_edu</a>
        <a class="social" href="#"><i class="fa-solid fa-location-dot"></i>&nbsp;@ucas_location</a>

    </div>
    <div class="text-center">
        <p>&#169;2022 Unknown College of Arts and Science. All Rights Reserved @ucas.edu.in</p>
    </div>
</footer>