{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand" href="{% url 'home:home' %}"><img class="img_logo" src="{% static 'img/logo.png' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="my_nav collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:home' %}">Home <span class="sr-only"></span></a>
      </li>
       <li class="nav-item dropdown">
        <div class="dropdown">
  <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Administration
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'administration:administration' %}">Principal</a></li>
    <li><a class="dropdown-item" href="{% url 'administration:administration' %}">Correspondent</a></li>
      <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'administration:administration' %}">Administrative Board</a></li>
  </ul>
</div>
      </li>
      <li class="nav-item dropdown">
          <div class="dropdown">
  <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Academics
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'academics:academics' %}">Courses</a></li>
    <li><a class="dropdown-item" href="{% url 'academics:academics' %}">Departments</a></li>
      <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'academics:academics' %}">Rank Holders</a></li>
  </ul>
</div>
      </li>
       <li class="nav-item dropdown">
        <div class="dropdown">
  <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Admission
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'admission:admission' %}">UG</a></li>
    <li><a class="dropdown-item" href="{% url 'admission:admission' %}">PG</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'admission:admission' %}">M.Phil</a></li>
    <li><a class="dropdown-item" href="{% url 'admission:admission' %}">Ph.D</a></li>
  </ul>
</div>
      </li>
<!--      <li class="nav-item dropdown">-->
<!--        <div class="dropdown">-->
<!--  <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--    Examination-->
<!--  </a>-->
<!--  <ul class="dropdown-menu dropdown-menu-dark">-->
<!--    <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--    <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--    <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--  </ul>-->
<!--</div>-->
<!--        </li>-->
          <li class="nav-item dropdown">
          <div class="dropdown">
  <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Facilities
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'facilities:all' %}">Library</a></li>
    <li><a class="dropdown-item" href="{% url 'facilities:all' %}">Labs</a></li>
    <li><a class="dropdown-item" href="{% url 'facilities:all' %}">Smart Classrooms</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'facilities:all' %}">Indoor & Outdoor Sports</a> </li>
  </ul>
</div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'contact:contact' %}">Contact <span class="sr-only"></span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'aboutus:about' %}">About <span class="sr-only"></span></a>
      </li>
    </ul>
    <div class="nav-sign">
    <a onclick="cancel()" href="{% url 'credentials:signin' %}" class="signBtn btn btn-success">Login</a>
    <a href="{% url 'credentials:signup' %}" class="signBtn btn btn-warning">Register</a>
  </div>
  </div>


</nav>
