{% load static %}
<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="{% url 'home:home' %}"><img class="img_logo" src="{% static 'img/logo.png' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="my_nav collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:home' %}">Home <span class="sr-only"></span></a>
      </li>
       <li class="nav-item dropdown">
        <div class="dropdown">
  <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Administration
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'administration:principal' %}">Principal</a></li>
    <li><a class="dropdown-item" href="{% url 'administration:correspondent' %}">Correspondent</a></li>
      <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'administration:board_members' %}">Administrative Board</a></li>
  </ul>
</div>
      </li>
      <li class="nav-item dropdown">
          <div class="dropdown">
  <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Academics
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'academics:course' %}">Courses</a></li>
    <li><a class="dropdown-item" href="{% url 'academics:academics' %}">Departments</a></li>
      <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'academics:rank_holders' %}">Rank Holders</a></li>
      <li><a class="dropdown-item" href="{% url 'academics:university_player' %}">University Players</a></li>
  </ul>
</div>
      </li>
       <li class="nav-item dropdown">
        <div class="dropdown">
  <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Admission
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'admission:ug_admission' %}">UG</a></li>
    <li><a class="dropdown-item" href="{% url 'admission:pg_admission' %}">PG</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'admission:pg_admission' %}">M.Phil</a></li>
    <li><a class="dropdown-item" href="{% url 'admission:pg_admission' %}">Ph.D</a></li>
  </ul>
</div>
      </li>

          <li class="nav-item dropdown">
          <div class="dropdown">
  <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Facilities
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'facilities:library' %}">Library</a></li>
    <li><a class="dropdown-item" href="{% url 'facilities:lab' %}">Labs</a></li>
    <li><a class="dropdown-item" href="{% url 'facilities:smart_class' %}">Smart Classrooms</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'facilities:sport' %}">Indoor & Outdoor Sports</a> </li>
  </ul>
</div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'contact:contact' %}">Contact <span class="sr-only"></span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'aboutus:about' %}">About <span class="sr-only"></span></a>
      </li>
    </ul>
    <div class="nav-sign">
        {% if user.is_staff %}
        <a class="nav_contact_msg" href="">Contact Messages</a>
        <a class="nav_user_greet">Hello {{user.username}}</a>
       <a href="{% url 'credentials:logout' %}" class="btn btn-danger">Logout</a>
        {% elif user.is_authenticated %}

        <a>Hello {{user.username}}</a>
        <a href="{% url 'credentials:logout' %}" class="btn btn-danger">Logout</a>
        {% else %}
    <a onclick="cancel()" href="{% url 'credentials:signin' %}" class="signBtn btn btn-success">Login</a>
    <a href="{% url 'credentials:signup' %}" class="signBtn btn btn-warning">Register</a>
        {% endif %}
  </div>
  </div>


</nav>
