/* Variables */
:root {
    --violet:#472183;
    --peach : #CE7777;
    --grey:#E8C4C4;
    --cold : #B9E0FF;
    --white: #F1F6F5;
    --blue:#4B56D2;
    --light_blue:#82C3EC;

}
/* Nav bar  */
#navbarNavDropdown{
    justify-content:space-between !important;
}
body{
color:#000;
}
.nav_contact_msg {
    margin-right: 10px;
    color: #1a2121;
}
.nav_contact_msg: hover {
    color:var(--white);
}
.nav_user_greet {
    background: #3d7049;
    margin-right: 5px;
    color: white;
    padding: 12px;
}
.navbar {
    display:flex;
    justify-content: space-between;
    background-color:#4B56D2;
}
.navbar a{
    color:whitesmoke;
}

.banner{
width: 100%;
}

body{
    background-color:var(--cold);
}
.nav-sign {
    margin-right:0.8rem;
}
.img_logo{
    width:35px;
    height:35px;
    margin-left:10px;

}
.signBtn a:hover{
    text-decoration:none;
}
/* All Same */
a {
text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
.content_page {
    min-height:100vh !important;
   /*  background-color:black;*/
}
#content{
    min-height:100vh;
}

/* Login Page */
.login_container{
    margin: auto;
    margin-top:5rem;
    height: 20rem;
    width: 20rem;
    background-color: #F1F6F5;
    padding:1rem;
    display:flex;
    justify-content: center;
    align-items:center;
}
.login_h1{
margin: 1rem;
color:var(--violet);
}
/*.login_container form {
    margin-top: 5rem;
}*/

.input_field{
    margin-bottom:1rem;

}
.login_btn{
margin-left: 1rem;
}
.login_form{
    justify-content:center;
    align-items:center;
}
.login_bottom {
    margin-top:1rem;
}
/* Register Page */
.register_container{
    margin: auto;
    margin-top:5rem;
    height: 30rem;
    width: 23rem;
    background-color: #F1F6F5;
    padding:1rem;
    display:flex;
    justify-content: center;
    align-items:center;
}

.r_inputs{
    width:15rem;
    height:2.3rem;
    border-radius:5px;
}

/* Footer */
.social {
    color:#fff;
}
footer{
background-color:#4b4b56;

color: whitesmoke;
margin-bottom: 0;
}
footer a {
    color: whitesmoke;
}
footer p {
    margin-bottom:0;
}
.footer_container{
    margin-bottom: 0;
}
.social_container {
    display: flex;
    justify-content:space-between;
}

/* Contact html
.contact_container{

}
*/
.contact_container {
    width: 500px;
    height:550px;
    margin:auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
    background-color:#F1F6F5;
    padding-bottom: 10px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.contact_form_container h2 {
    text-align:center;
}
.contact_form_container {
    text-align:justify;
}/*
.contact_form {
    margin-top: 10px;
}*/
.contact_input {
    width: 300px;
    height: 50px;
    border-radius:10px;
    margin: 1rem;
    border-color:var(--violet);
}
.contact_input:hover,contact_input:focus {
    background-color:#8c8c8c;
    color:whitesmoke;
}
.contact_textarea {
width:300px;
height:100px;
border-radius:10px;
margin:1rem;
}
.contact_textarea:hover,contact_textarea:focus {
    background-color:#8c8c8c;
    color:#fff;
}
.send_btn {
    margin:1rem 4.5rem;;
    width:150px;
    height:40px;
    color:black;
    background-color:#ffc107;

}


/* ---## About Us ###--- */
.about_container {
    margin:auto;
    margin-top:1.5rem;
    margin-bottom:5rem;


}
.about {
    width: 800px;
    height:800px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about h2{
text-align:center;

}
.about p {
    text-align:justify;
}

/* #### -- Facilities -- ####   */
.facility_container{
   margin:5px;
}
.my_facility_contain {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin:2rem;

}
.my_facility_contain_library {
    display:grid;
    grid=template-columns:1fr 1fr;
    margin:3rem;
}
.my_facility_contain_library .card {
    background-color:var(--blue);
    border:5px solid var(--violet);
    color: var(--white);
    margin:2rem;
}
.my_facility_contain h3 {
    color:#000;
}
.my_facility_contain .card {
    background-color:var(--blue);
    border:5px solid var(--violet);
    color: var(--white);
}
.my_facility_contain hr {
    margin-top:5px;
    border-top: 5px solid var(--violet);
}
.facility_page_container .title {
    background-color:var(--violet);
    font-size:2rem;
    padding:5px;
    text-align:center;
    color:var(--white);
}

/* -- ## Academics ## -- */

.department_container {
    margin:auto;
    margin-top:2rem;
    background-color:#4B56D2;
    color:#fff;
    height:auto;
    width:25vw;

}
.department_container h2 {
    background-color:#472183;
    color:var(--white);
    text-align:center;

}
.department_container li {
        text-align:justify;
        font-size:1.2rem;

}
.department_container li:hover {
    color:black;
    font-weight:bold;
}
.department {
    padding:1rem;
}
ul,ol {
    list-style-type:none;
}
.course_container {
    background-color:var(--blue);
    color:black;
    /*margin:auto;
     height:auto;
    width:auto;*/
    margin-top:2rem;
    margin-bottom:2rem;
    text-align:center;
    font-size:1.3rem;
}
.course_container h3 {
    background-color:var(--violet);
    color:var(--white);
    text-align:center;
}
.course_container_title {
    background-color: var(--violet);
    text-align: center;
}
.courses {
    margin: auto;
    text-align: justify;
    width: 500px;
}

.rank_holder_card {
    margin:2rem;
}
.rank_holders_container h3{
    background-color:var(--violet);
    color:var(--white);
    padding:0.8rem;
    text-align:center;

}
.ranks {
    padding:2rem;
}
.univ_players_container h3 {
    text-align:center;
    color:#F1F6F5;
    background-color:#472183;
    font-size:2rem;
}
.university_players {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.university_players .card {
    margin-left : 1.5rem;
    margin-top : 1rem;
    text-align:center;
    background-color:var(--blue)
}
/* ---## Administration ##--- */
.my_admin h1{
    background-color:var(--violet);
    color:var(--white);
    text-align:center;
    min-height: 60px
}
.admin_container {
    display:flex !important;
    margin-left:1rem;
}
.my_admin_card {
    margin:1.5rem;

}
.correspond_container {
    margin:2rem;
     display: flex;
    align-items: center;
    justify-content: center;
}
.correspond_container h5 {
    margin-top:10px;
}
.correspond_info {
    margin-left:1rem;
}
.corr_page_container{
    background-color:#F1F6F5;
    padding: 10px;
    height: auto;
    width: 1000px;
    margin:auto;
    margin-top:2rem;
}
.principal_container {
    margin:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.principal_page_container{
    background-color:#F1F6F5;
    padding: 10px;
    height: auto;
    width: 1000px;
    margin:auto;
    margin-top:2rem;
}
.principal_info {
    margin-left:1rem;
}
.principal_info h5 {
    margin-top:1rem;
}
.principal_info .mycard,.correspond_info .mycard {
    background-color:#472183;
    color:whitesmoke;
}

/*####--- Home Page ---#### */
.news_event {
    background-color:#F1F6F5;
    margin: 10px 0px 0px 4rem;
    border: 5px solid #472183;
}
.news_event:hover {
    background-color:#4B56D2;
    color:#F1F6F5;
}
.event_container{
    margin:1rem 0px 1.2rem 0px;
}
.event_container h3 {
    text-align:center;
    background-color:#472183;
    font-size:2rem;
    color:#F1F6F5;
}
.my_event_row {
    margin: 0;
}
.moto_head {
    text-align: center !important;
    background-color: #472183;
    font-size: 2rem;
    color: #F1F6F5;
}
.moto_container {
    margin-top:1rem;
}
.my_vision_container {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.my_vision {
    border-radius:5px;
    border: 5px solid #472183;
    margin-left:2rem;
    margin-right:10px;
    padding:10px;
    background-color:#4B56D2;
    color:whitesmoke;
}
.my_vision h4{
    text-align:center;
    font-weight:bold;
    color:black;
}
.my_vision:hover {
    background-color:#F1F6F5;
    color:#000;
}
/* #### --- Achievements and Courses */
.course_achievement_container h3 {
    text-align:center;
    color:#F1F6F5;
    background-color:#472183;
    font-size:2rem;
}
.course_achievement {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
.ca_class {
    margin:1rem;
}
.ca_class a h4 {

    color:#000;
}
.ca_class a:hover {
    text-decoration:none;
}
.ca_class .rank {
    display:flex;
    flex-wrap: wrap;
}
.ca_class .rank .rankers {
    flex: 0 0 33.333333%;
}
.ca_class .univ_player {
    display:flex;
    flex-wrap: wrap;
}
.ca_class .univ_player .players {
    flex: 0 0 50%;
}
.ca_class li {
    font-size:1.2rem;
}
/*## highlights Container Style ## */
.highlights_container {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
.highlight_content .card {
    margin:1rem;
    background-color:#4B56D2;
    text-align:center;
}
.highlight_content .card p {
    color:#F1F6F5;
}
.today_highlights {
    margin-top:1rem;
}
.today_highlights h3 {
    text-align:center;
    color:#F1F6F5;
    background-color:#472183;
    font-size:2rem;
}
.author_name {
    color:black;
}
.today_highlights .card-text {
    font-size:1.2rem;
}
.highlight_content .card {
    min-height:200px;
}

/*#####----- Admission Form -----#####
.row{
    margin-left: auto;
    margin-right: auto;
} */
.my_admission_btn{
    width:250px !important;
    border-radius: 10px;
    margin: 10px
}
.admission_form_container .row {
    margin:0;
}
.admission_page_title {

}